In [1]:
import pandas as pd

In [2]:
path_ages = "data/plots/tehpra_ltrs_classified_ages_new_09_04_19.tsv"

In [3]:
df_ages = pd.read_csv(path_ages, sep='\t')
print(len(df_ages.index))
df_ages.head(2)

27591

,ID,Divergence,Age,Ts:Tv
0,RLC_family0_LTR_retrotransposon248_chr00_43732...,0.0775,3875000,11.0785
1,RLC_family0_LTR_retrotransposon829_chr00_19719...,0.0611,3055000,9.7319

In [14]:
df_ages = df_ages[(df_ages.ID.str.contains('LTR'))]
print(len(df_ages.index))

10384

In [15]:
df_ages['seqname'] = df_ages['ID'].str.split('_').str[-3:-2].str[0]
df_ages['start'] = df_ages['ID'].str.split('_').str[-2:-1].str[0]
df_ages['end'] = df_ages['ID'].str.split('_').str[-1:].str[0]

In [16]:
df_ages.head(3)

,ID,Divergence,Age,Ts:Tv,seqname,start,end
0,RLC_family0_LTR_retrotransposon248_chr00_43732...,0.0775,3875000,11.0785,chr00,4373242,4378730
1,RLC_family0_LTR_retrotransposon829_chr00_19719...,0.0611,3055000,9.7319,chr00,19719108,19724589
2,RLC_family0_LTR_retrotransposon2116_chr01_2257...,0.1043,5215000,2.0909,chr01,22577889,22582457

In [17]:
df_ages_save = df_ages.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_ages_save = df_ages_save[['Chr','Start','End','Value']]
df_ages_save.to_csv('data/ltr_ages.csv',sep='\t', index=None)
df_ages_save.head()

     Chr     Start       End    Value
0  chr00   4373242   4378730  3875000
1  chr00  19719108  19724589  3055000
2  chr01  22577889  22582457  5215000
3  chr01  28797996  28802884  7235000
4  chr01  33618994  33624895  4930000

In [18]:
df_ages.head()

,ID,Divergence,Age,Ts:Tv,seqname,start,end
0,RLC_family0_LTR_retrotransposon248_chr00_43732...,0.0775,3875000,11.0785,chr00,4373242,4378730
1,RLC_family0_LTR_retrotransposon829_chr00_19719...,0.0611,3055000,9.7319,chr00,19719108,19724589
2,RLC_family0_LTR_retrotransposon2116_chr01_2257...,0.1043,5215000,2.0909,chr01,22577889,22582457
3,RLC_family0_LTR_retrotransposon2340_chr01_2879...,0.1447,7235000,2.3161,chr01,28797996,28802884
4,RLC_family0_LTR_retrotransposon2497_chr01_3361...,0.0986,4930000,4.2829,chr01,33618994,33624895

In [19]:
df_rlc = df_ages[(df_ages.ID.str.contains('RLC')) & (df_ages.ID.str.contains('LTR'))]
print(len(df_rlc.index))
df_rlc = df_rlc[['seqname','start','end','Age']]
df_rlc = df_rlc.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlc.to_csv('data/lrc_ages.csv',sep='\t', index=None)

2699

In [20]:
df_rlx = df_ages[df_ages.ID.str.contains('RLX')  & (df_ages.ID.str.contains('LTR'))]
print(len(df_rlx.index))
df_rlx = df_rlx[['seqname','start','end','Age']]
df_rlx = df_rlx.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlx.to_csv('data/lrx_ages.csv',sep='\t', index=None)

2896

In [21]:
df_rlg = df_ages[df_ages.ID.str.contains('RLG')  & (df_ages.ID.str.contains('LTR'))]
print(len(df_rlg.index))
df_rlg = df_rlg[['seqname','start','end','Age']]
df_rlg = df_rlg.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlg.to_csv('data/lrg_ages.csv',sep='\t', index=None)

4789