In [1]:
import pandas as pd
from itertools import cycle
from IPython.display import clear_output
import os
path_output = 'data/results/all.gff'
path_blast = 'data/results/'
#pd.set_option('display.max_colwidth', -1)

In [13]:
#TEs
params = {}
params['LTR'] = {'file':'blast_clustered_ltr.csv.filtered'}
params['LINE'] = {'file':'blast_clustered_line.csv.filtered'}
params['SINE'] = {'file':'blast_clustered_sine.csv.filtered'}
params['TIR'] = {'file':'blast_clustered_tir.csv.filtered'}
params['MITE'] = {'file':'blast_clustered_mite.csv.filtered'}
params['LARD'] = {'file':'blast_clustered_lard.csv.filtered'}
params['helitron'] = {'file':'blast_clustered_helitron.csv.filtered'}
params['TRIM'] = {'file':'blast_clustered_trim.csv.filtered'}

In [14]:
path_blast = 'data/blast_clustered_trim_TRF_filtered.csv.filtered'
path_output = 'data/blast_clustered_trim_TRF_filtered.csv.filtered.gff'

In [4]:
#read blast output
dfs = []
df = pd.read_csv(path_blast, sep='\t')
dfs.append(df)
df_all = pd.concat(dfs)
df_all.columns = ['qseqid','sseqid','qstart','qend','sstart','send','score','length','mismatch','gaps','gapopen','nident','pident','qlen','slen','qcovs']
df_all = df_all.reset_index(drop=True)
print('initial:',len(df_all.index))

initial: 11802

In [5]:
df_all.head()

,qseqid,sseqid,qstart,qend,sstart,send,score,length,mismatch,gaps,gapopen,nident,pident,qlen,slen,qcovs
0,TRIM_id_4051_RLX_singleton_family10849_TRIM_re...,chr00,2,708,639561,640269,1052,711,64,6,5,641,90.15,780,48012048,91
1,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,663962,665107,1660,1155,93,36,8,1026,88.83,1263,48012048,100
2,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1262,666354,667496,1550,1154,111,38,10,1005,87.09,1263,48012048,100
3,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,671181,672331,1612,1159,99,39,11,1021,88.09,1263,48012048,100
4,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,705917,707082,1586,1170,101,46,13,1023,87.44,1263,48012048,100

In [6]:
df_all['source'] = 'ST_annotation'
df_all['frame'] = '.'
df_all['score'] = '.'
df_all['strand'] = '+'
df_all['feature'] = 'TE'
splited_id = df_all['qseqid'].str.split('_')
df_all['id_1'] = splited_id.str[0] + '_' + splited_id.str[1] + ':' + splited_id.str[2] + ";source_name:" + splited_id.str[3:].apply(lambda x: '_'.join(x)).str.split('[').str[0] 
df_all['id_2'] = '[' + df_all['qseqid'].str.split('[', 1).str[1]
#df_all['qseqid'] = df_all['qseqid'].str.split('[', 1).str[1] + ';source_id:' + df_all['qseqid'].str.split('[', 1).str[0] 
#df_all['qseqid'] = df_all['qseqid'].str.replace("\\]\\[",";")
#df_all['qseqid'] = df_all['qseqid'].str.replace("]","")
#df_all['qseqid'] = df_all['qseqid'].str.replace("[","")
#df_all['qseqid'] = df_all['qseqid'].str.replace("[","")

In [7]:
df_all.head()

,qseqid,sseqid,qstart,qend,sstart,send,score,length,mismatch,gaps,...,pident,qlen,slen,qcovs,source,frame,strand,feature,id_1,id_2
0,TRIM_id_4051_RLX_singleton_family10849_TRIM_re...,chr00,2,708,639561,640269,.,711,64,6,...,90.15,780,48012048,91,ST_annotation,.,+,TE,TRIM_id:4051;source_name:RLX_singleton_family1...,[type:TRIM_source:tephra][type:TRIM_source:tep...
1,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,663962,665107,.,1155,93,36,...,88.83,1263,48012048,100,ST_annotation,.,+,TE,TRIM_id:2460;source_name:RLX_singleton_family1...,[type:TRIM_source:tephra][type:TRIM_source:tep...
2,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1262,666354,667496,.,1154,111,38,...,87.09,1263,48012048,100,ST_annotation,.,+,TE,TRIM_id:2460;source_name:RLX_singleton_family1...,[type:TRIM_source:tephra][type:TRIM_source:tep...
3,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,671181,672331,.,1159,99,39,...,88.09,1263,48012048,100,ST_annotation,.,+,TE,TRIM_id:2460;source_name:RLX_singleton_family1...,[type:TRIM_source:tephra][type:TRIM_source:tep...
4,TRIM_id_2460_RLX_singleton_family10272_TRIM_re...,chr00,136,1263,705917,707082,.,1170,101,46,...,87.44,1263,48012048,100,ST_annotation,.,+,TE,TRIM_id:2460;source_name:RLX_singleton_family1...,[type:TRIM_source:tephra][type:TRIM_source:tep...

In [8]:
#order by chromosome and position
df_all['new_sstart'] = df_all[['sstart','send']].min(axis=1)
df_all['new_ssend'] = df_all[['sstart','send']].max(axis=1)
df_all['sstart'] = df_all['new_sstart']
df_all['send'] = df_all['new_ssend']
df_all = df_all.drop('new_sstart',axis=1).drop('new_ssend',axis=1)
df_all.sort_values(['sseqid', 'sstart'], inplace=True)

In [9]:
#delete dups annotation
count = 1
for k,v in df_all.iterrows():
    qs = {}
    for q in v.id_2.split("]"):
        qs[q.replace("[","")] = 1
    new_qseqid = ";".join(qs.keys())
    df_all.at[k, 'id_2'] = new_qseqid
    df_all.at[k, 'id_2'] = new_qseqid + ';unique_id:' + str(count)
    count += 1

In [10]:
df_all['qseqid'] = df_all['id_1'] + df_all['id_2']
df_all = df_all[['sseqid','source','feature','sstart','send','score','strand','frame','qseqid']]
#gff3 -> ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']

In [11]:
df_all['qseqid'].head()

0    TRIM_id:4051;source_name:RLX_singleton_family1...
1    TRIM_id:2460;source_name:RLX_singleton_family1...
2    TRIM_id:2460;source_name:RLX_singleton_family1...
3    TRIM_id:2460;source_name:RLX_singleton_family1...
4    TRIM_id:2460;source_name:RLX_singleton_family1...
Name: qseqid, dtype: object

In [15]:
df_all.to_csv(path_output, sep="\t", header=None, index=None)
path_output

'data/blast_clustered_trim_TRF_filtered.csv.filtered.gff'